*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #161616;
}
html {
   scroll-behavior: smooth;
}
.visually-hidden{
    display: none;
}
.card-category{
    background-color: #D73953;
}